<section class="todoapp container">

  <header class="row header">
    <div class="col-xs-12">
      <h1>Hey! Input your To Do item and hit enter.</h1>
      <input class="new-todo form-control input-lg" placeholder="What's your todo list?" autofocus="" [(ngModel)]="newToDo.title" (keyup.enter)="addToDo()">
    </div>
  </header>

  <section class="main row" *ngIf="todos.length > 0">
    <div class="col-xs-12">
      <ul class="todo-list">

        <li *ngFor="let todo of todos; let i = index" [class.state]="todo.state">
          <div class="view">
            <input [attr.id]="i" class="checkbox-custom" type="checkbox" (click)="toggleToDoState(todo)" [checked]="todo.state">
            <label [attr.for]="i" class="checkbox-custom-label">{{todo.title}}</label>
            <span class="delete text-danger" (click)="removeToDo(todo)">x</span>
          </div>
        </li>
      </ul>
    </div>

  </section>

</section>
